<footer class="flex space-between">
    <img class="logo bottom" src="/assets/logo_blanc.png" alt="Logo blanc" />
    <div class="center">
        <p class="white text">Follow us on social networks !</p>
        <img class="social" src="/assets/logo_linkedin.png" alt="Linkedin logo" />
        <img class="social" src="/assets/logo_twitter.png" alt="Twitter logo" />
        <img class="social" src="/assets/logo_facebook.png" alt="Facebook logo" />
    </div>
</footer>