<header>
    <nav class="flex space-between">
        <a 
        href="/"
        ><img class="logo" src="/assets/full_logo_white.png"
                alt="Full logo dark MR.COFFEE" /></a>
        <div>
            <a href="/users/new">New User</a>
            <a href="/schedules/new">New Schedule</a>
            <a href="/users">Users</a>
            <a href="/schedules">Schedules</a>
        </div>
    </nav>
</header>