<header>
    <nav class="flex space-between">
        <a 
        href="/"
        ><img class="logo" src="/assets/full_logo_white.png"
                alt="Full logo dark MR.COFFEE" /></a>
        <div>
            <a href="/schedules-management">Schedules Management</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
</header>