<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Website</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/068e4c7b49.js" crossorigin="anonymous"></script> <!-- to access delete icon-->
    <script src="https://kit.fontawesome.com/2451c16c54.js" crossorigin="anonymous"></script>

</head>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        <section>
            <img class="intro logo" src="/assets/logo_mrcoffee.png" alt="Full logo MR.COFFEE" />
            <h2 class="heading">Welcome to Schedule Management System</h2>
        </section>
        <%- body %>
        </main>
        <%- include('partials/footer.ejs') %>
</body>
</html>