*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
  align-items: center;
}

.flex.space-evenly {
  justify-content: space-evenly;
}

nav > div > a:not(:last-child) {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

header,
footer {
  background-color: #6a7b8b;
  padding: 20px 20px;
}

main {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 500px) {
  nav.flex {
    flex-direction: column;
  }
  nav a {
    display: block;
    text-align: center;
    padding: 5px;
  }
  .intro.logo {
    height: auto;
    width: auto;
  }
}

.social {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.logo.bottom {
  margin: 10px;
  padding: 0px;
  height: 45px;
  width: 30px;
}

.logo {
  height: 60px;
  width: 120px;
}

.intro.logo {
  height: 12%;
  width: 12%;
}

.heading {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #5c5b5b;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}

.heading.two {
  font-size: 25px;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #6a7b8b;
  padding: 10px 30px;
  margin: 15px 0;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 25px 20px;
  margin: 15px 0;
  background-color: #c4cad0;
  border: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

input:focus {
  outline: none;
}

.grey.text {
  color: #5c5b5b;
  font-size: 25px;
}

select {
  font-size: 16px;
  line-height: 1.3;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 0.3em;
  padding: 0.6em 1.4em 0.5em 0.8em;
}