<form novaidate id="loginForm" action="/login" method="POST">
    <div>
        <% if(successMessage) { %>
            <p class="error"><%= successMessage %></p>
        <% } %>
   
        <% if(message) { %>
           <p class="error"><%= message %></p>
        <% } %>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email">
        <div class="error" id="emailErr"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
        <div class="error" id="pwdErr"></div>
    </div>
    <button type="submit">Login</button>
    <div><a href="/signup">New User?Click here to signup</a></div>
</form>
<script type="text/javascript" src="../js/loginFormValidation.js" defer ></script>
